@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Vazir.eot');
	src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('../fonts/Vazir.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('../fonts/Vazir.ttf') format('truetype');
}
@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/Vazir-Bold.eot');
	src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('../fonts/Vazir-Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('../fonts/Vazir-Bold.ttf') format('truetype');
}
* {
    box-sizing: border-box;
}
body {
	font-family: Vazir;
	direction: rtl;
	background-color: #fff;
	margin: 0;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: Vazir;
	text-align: center;
	padding: 5px;
}
h1 {
    font-weight: bold;
}

h2 {
    font-weight: normal;
}
h3 {
    font-weight: bold;
}
a {
    background: green;
    color: #fff;
    padding: 2px 10px 5px;
    border-radius: 3px;
    text-decoration: none;
}
a:last-child{
    background: red;
	margin-right:5px;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}
.mainbox {
    background: #F7F7F7 none repeat scroll 0% 0%;
    border-radius: 10px;
    padding: 15px;
    margin-top: 2em;
}