<!DOCTYPE html>
<html lang="en" dir="rtl" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تغییر رمز عبور </title>

    <link rel="stylesheet" href="css/bootstrap.rtl.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-6.5.2-web/css/all.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/media.css">


</head>
<body>
<section id="login-signup-form">
    <div class="d-flex justify-content-center align-items-center login-form">
        <div class="container ">
            <div class="form-bg signup mx-auto text-center">
                <div class="row g-0 font-vazir">
                    <div class="col-lg-12  mb-4 p-3 pt-5  p-md-5">
                        <h2 class="login-title font-vazir mb-4">تغییر رمز عبور</h2>
                        <form>
                            <div class="mt-4 mb-4">
                                <input type="password" class="form-control" dir="rtl" placeholder="رمز عبور قبلی"
                                       required>
                            </div>
                            <div class="mb-4 ">
                                <input type="password" class="form-control" placeholder="رمز عبور جدید" required>
                            </div>
                            <div class="mb-4 ">
                                <input type="password" class="form-control" placeholder="تکرار رمز عبور جدید" required>
                            </div>
                            <div class="form-check  text-start">
                                <input class="form-check-input" type="checkbox" id="accepted" value="accepted-rules"
                                       required="">
                                <label class="form-check-label font-small-14" for="accepted">
                                    <span>مرا به خاطر بسپار</span></label>
                            </div>
                            <div class="mb-4 text-center">
                                <div class="font-18 font-small-16 mt-4"><span>کاربر جدید هستید ؟</span> <a
                                        href="login&signup.html" class="text-decoration-underline ">ثبت نام کنید </a>
                                </div>
                            </div>
                            <button type="submit" class="button login-btn mt-4 text-white font-yekan">تغییر رمز عبور
                            </button>
                        </form>
                        <div class="separator mt-5 font-vazir "> با ما در ارتباط باشید<i
                                class="fa-solid fa-square-share-nodes ms-2"> </i></div>
                        <div class="row mt-4">
                            <div class="col-4">
                                <a href="" class="alternative-login">
                                    <i class="fa-brands fa-google"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="" class="alternative-login">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="" class="alternative-login">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="float-menu-container">
    <div class="navigation">
        <div class="menuToggle"></div>
        <div class="float-menu">
            <ul>
                <li style="--i:0.1s"><a href="tel:+1234567890" target="_blank">
                    <i class="fa-solid fa-square-phone-flip" style="color: limegreen"></i>
                </a></li>
                <li style="--i:0.2s"><a href="https://web.telegram.com" target="_blank">
                    <i class="fa-brands fa-telegram" style="color: #28A4E4"></i>
                </a></li>
                <li style="--i:0.3s"><a href="https://web.whatsapp.com" target="_blank">
                    <i class="fa-brands fa-whatsapp" style="color: green;"></i>
                </a></li>
                <li style="--i:0.4s"><a href="https://www.instagram.com/" target="_blank">
                    <i title="Instagram" class="fa-brands fa-instagram" style="color:purple"></i>
                </a></li>
            </ul>
        </div>
    </div>
</div>


<!-- Modal -->


</body>


<script src="js/jquery-3.7.1.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/login&signup.js"></script>
</html>









