{% extends "base.html" %}
{% load static %}


{% block title %}
    <title>درباره ما</title>
{% endblock  %}

{% block extra_css %}

{% endblock  %}

{% block content %}
<section id="pages" class="shadow-elements my-4 py-2 d-flex align-items-center">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <ul class="d-flex font-sans">
                    <li class="navbar-page"><a href="">خانه</a></li>
                    <li class="navbar-page"><a href="">فروشگاه</a></li>
                    <li class="navbar-page"><a href="">تماس با ما</a></li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section id="about-us">

    <div class="container font-vazir rounded-2 bg-white">
        <div class="p-5 text-xl-start text-center">
            <h3 class="pb-4 border-bottom">درباره ما</h3>
        </div>
        <div class="row p-3 p-md-5">
            <div class="col-12 col-xl-5 right-about-us p-4 my-lg-2 m-auto">
                <div class="p-2 text-center">
                    <img src="{{about_us.image.url}}" alt = "about_us">
                    <h4 class="pt-5 font-small-16">
                        شعار فروشگاه
                    </h4>
                    <h5 class="py-2 font-small-16">
                        {{about_us.slogan}}
                    </h5>
                </div>
            </div>
            <div class="col-12 col-xl-7 left-about-us ">
                <h4>معرفی</h4>
                <p class="font-small-14" >
                    {{ about_us.content|safe }}
                </p>
            </div>
        </div>


        <!--
        
        Team Introducing......................................

        <div class="my-3 border-top pt-4 font-vazir ">
            <div class="p-4">
                <h4>معرفی اعضاء</h4>
            </div>
            <div class="members-box row d-flex justify-content-center pb-4">
                <div class="col-12 col-md-6 col-lg-3 my-3 my-lg-0">
                    <div class="members mx-2 mx-md-0">
                        <div class="profile-container">
                            <img src="{% static 'images/prof1.jpg' %}">
                        </div>
                        <div class="profile-info">
                            <h3>سعید توحیدی پور</h3>
                            <p class="job-title">مدیرعامل</p>
                            <p class="desc">رییس هیات مدیره</p>
                        </div>

                        <div class="card-bottom"></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 my-3 my-lg-0">
                    <div class="members mx-2 mx-md-0">
                        <div class="profile-container">
                            <img src="{% static 'images/prof1.jpg' %}"></div>
                        <div class="profile-info">
                            <h3>محسن توحیدی پور</h3>
                            <p class="job-title">مدیر بازرگانی</p>
                            <p class="desc">عضو هیات مدیره</p>
                        </div>

                        <div class="card-bottom"></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 my-3 my-lg-0">
                    <div class="members mx-2 mx-md-0">
                        <div class="profile-container">
                            <img src="{% static 'images/prof1.jpg' %}"></div>
                        <div class="profile-info">
                            <h3>احمد رضایی</h3>
                            <p class="job-title">بازاریاب</p>
                            <p class="desc">عضو هیات مدیره</p>
                        </div>

                        <div class="card-bottom"></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 my-3 my-lg-0">
                    <div class="members mx-2 mx-md-0">
                        <div class="profile-container">
                            <img src="{% static 'images/prof1.jpg' %}"></div>
                        <div class="profile-info">
                            <h3>رضا صفایی</h3>
                            <p class="job-title">پشتیبان فنی سایت</p>
                            <p class="desc">عضو هیات مدیره</p>
                        </div>

                        <div class="card-bottom"></div>
                    </div>
                </div>
            </div>
        </div>

        -->
    </div>
</section>


{% endblock  %}

{% block extra_js %}

<script src="{% static 'js/to_persian_num.js' %}"></script>

{% endblock  %}




