
{% extends "base.html" %}

{% load static %}


{% block title %}<title>تماس با ما</title>{% endblock  %}

{% block extra_css %}{% endblock  %}

{% block content %}

<section id="pages" class="shadow-elements my-4 py-2 d-flex align-items-center">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <ul class="d-flex font-sans">
                    <li class="navbar-page"><a href="">خانه</a></li>
                    <li class="navbar-page"><a href="">فروشگاه</a></li>
                    <li class="navbar-page"><a href="">تماس با ما</a></li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section id="contact-us">

    <div class="container-xl  mb-4">
        <div class="contact__wrapper rounded shadow-lg mt-n9">
            <div class="row no-gutters font-vazir">
                <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                    <div class="d-flex align-items-center justify-content-between mb-5">
                        <h3 class="color--white ">ارتباط با ما</h3>
                        <a class="logo " href="index.html"><img src="{{info.logo.url}}" alt = "logo"></a>
                    </div>

                    <ul class="contact-info__list list-style--none position-relative z-index-101 font-small-12">
                        <li class="mb-4 pl-4">
                            <span class="position-absolute"><i class="fas fa-envelope"></i></span> {{info.contact_email}}
                        </li>
                        <li class="mb-4 pl-4">
                            <span class="position-absolute"><i class="fas fa-phone"></i></span> {{info.mobile_number}}
                        </li>
                        <li class="mb-4 pl-4">
                            <span class="position-absolute"><i class="fas fa-phone"></i></span> {{info.office_number}}
                        </li>
                        <li class="mb-4 pl-4">
                            <span class="position-absolute"><i class="fas fa-map-marker-alt "></i></span>
                            {{info.address}}
                            
                        </li>
                    </ul>

                    <div class="call-icon-box d-flex justify-content-center">
                        <img src=" {% static 'images/contact-us-2.png' %}">
                    </div>

                </div>

                <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1 ">
                    <h4 class="mb-5">ارتباط با ما</h4>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="POST" action="#" class="contact-form form-validate" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <div class="form-group">
                                    <label class="required-field font-small-14" for="firstName">نام</label>
                                    {{ form.name }}
                                    {% if form.name.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.name.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <div class="form-group">
                                    <label for="lastName" class="font-small-14">نام خانوادگی</label>
                                    {{ form.subject }}
                                    {% if form.subject.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.subject.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <div class="form-group">
                                    <label class="required-field font-small-14" for="email">پست الکترونیک</label>
                                    {{ form.email }}
                                    {% if form.email.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.email.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <div class="form-group">
                                    <label for="phone" class="font-small-14"> تلفن همراه</label>
                                    {{ form.phone_number }}
                                    {% if form.phone_number.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.phone_number.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-12 mb-3">
                                <div class="form-group">
                                    <label class="required-field font-small-14" for="message">پیام شما</label>
                                    {{ form.message }}
                                    {% if form.message.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.message.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-12 mb-3">
                                <button type="submit" name="submit" class="btn btn-primary font-small-14">ارسال پیام
                                </button>
                            </div>

                        </div>
                    </form>
                </div>



                <!-- End Contact Form Wrapper -->

            </div>
        </div>
    </div>
</section>


{% endblock  %}

{% block extra_js %}<script src="js/to_persian_num.js"></script>{% endblock  %}




