{% extends "base.html" %}

{% load static %}


{% block title %}
    <title>درباره ما</title>
{% endblock  %}

{% block extra_css %}

{% endblock  %}

{% block content %}
<section id="pages" class="shadow-elements my-4 py-2 d-flex align-items-center">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <ul class="d-flex font-sans">
                    <li class="navbar-page"><a href="">خانه</a></li>
                    <li class="navbar-page"><a href="">فروشگاه</a></li>
                    <li class="navbar-page"><a href="">تماس با ما</a></li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section id="about-us">

    <div class="container font-vazir rounded-2 bg-white">
        <div class="p-5 text-xl-start text-center">
            <h3 class="pb-4 border-bottom">درباره ما</h3>
        </div>
        <div class="row p-3 p-md-5">
            <div class="col-12 col-xl-5 right-about-us p-4 my-lg-2 m-auto">
                <div class="p-2 text-center">
                    <img src="{% static 'images/about-us-1.jpg' %}">
                    <h4 class="pt-5 font-small-16">
                        شعار فروشگاه
                    </h4>
                    <h5 class="py-2 font-small-16">
                        «راحتی خرید، دسترسی آسان!»
                    </h5>
                </div>
            </div>
            <div class="col-12 col-xl-7 left-about-us ">
                <h4>معرفی</h4>
                <p class="font-small-14">
                    بتاکالا یک فروشگاه آنلاین منحصر به فرد است که با هدف ارائه بهترین تجربه خرید برای مشتریان خود
                    راه‌اندازی شده است. ما به شما این امکان را می‌دهیم که از راحــتـی و آسودگی خانه خود، محصولات مورد
                    نیازتان را تهیه کنید. بتاکالا در سال ۱۴۰۲ با جمع‌آوری بهترین محصولات از برندهای معتبر داخلی و خارجی
                    تأسیس شد و به سرعت به یکی از محبوب‌ترین فروشگاه‌های اینترنتی در کشور تبدیل شد.

                    ما به کیفیت محصولات و رضایت مشتریان اهمیت زیادی می‌دهیم. تیم ما متشکل از کارشناسان حرفه‌ای است که
                    همواره در تلاشند تا بهترین و باکیفیت‌ترین کالاها را برای شما فراهم کنند. در بتاکالا، شما می‌توانید
                    از طیف گسترده‌ای از محصولات شامل الکترونیک، پوشاک، لوازم خانه و آشپزخانه و بسیاری دیگر انتخاب کنید.

                    همچنین، ما برای راحتی بیشتر مشتریان، خدمات ارسال سریع و امن را ارائه می‌دهیم تا تجربـه خرید شما بدون
                    نگرانی باشد. در بتاکالا، ما به دنبال ایجاد یک جامعه خرید آنلاین هستیم که در آن مشتریان بتوانند به
                    راحتی نظرات و تجربیات خود را به اشتراک بگذارند و از یکدیگر بهره‌مند شوند.

                    حمایت از مشتریان برای ما بسیار اهمیت دارد و همواره آماده پاسخگویی به سوالات و نیازهای شما هستیم. ما
                    در بتاکالا به شما قول می‌دهیم که تجربه‌ای فراموش نشدنی از خرید آنلاین را برایتان به ارمغان بیاوریم.
                    با ما همراه شوید و از خریدی مطمئن و راحت لذت ببرید!


                </p>
            </div>
        </div>

        <div class="my-3 border-top pt-4 font-vazir ">
            <div class="p-4">
                <h4>معرفی اعضاء</h4>
            </div>
            <div class="members-box row d-flex justify-content-center pb-4">
                <div class="col-12 col-md-6 col-lg-3 my-3 my-lg-0">
                    <div class="members mx-2 mx-md-0">
                        <div class="profile-container">
                            <img src="{% static 'images/prof1.jpg' %}">
                        </div>
                        <div class="profile-info">
                            <h3>سعید توحیدی پور</h3>
                            <p class="job-title">مدیرعامل</p>
                            <p class="desc">رییس هیات مدیره</p>
                        </div>

                        <div class="card-bottom"></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 my-3 my-lg-0">
                    <div class="members mx-2 mx-md-0">
                        <div class="profile-container">
                            <img src="{% static 'images/prof1.jpg' %}"></div>
                        <div class="profile-info">
                            <h3>محسن توحیدی پور</h3>
                            <p class="job-title">مدیر بازرگانی</p>
                            <p class="desc">عضو هیات مدیره</p>
                        </div>

                        <div class="card-bottom"></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 my-3 my-lg-0">
                    <div class="members mx-2 mx-md-0">
                        <div class="profile-container">
                            <img src="{% static 'images/prof1.jpg' %}"></div>
                        <div class="profile-info">
                            <h3>احمد رضایی</h3>
                            <p class="job-title">بازاریاب</p>
                            <p class="desc">عضو هیات مدیره</p>
                        </div>

                        <div class="card-bottom"></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 my-3 my-lg-0">
                    <div class="members mx-2 mx-md-0">
                        <div class="profile-container">
                            <img src="{% static 'images/prof1.jpg' %}"></div>
                        <div class="profile-info">
                            <h3>رضا صفایی</h3>
                            <p class="job-title">پشتیبان فنی سایت</p>
                            <p class="desc">عضو هیات مدیره</p>
                        </div>

                        <div class="card-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock  %}

{% block extra_js %}

<script src="{% static 'js/to_persian_num.js' %}"></script>

{% endblock  %}




