{% extends "base.html" %}

{% load static %}


{% block title %}    <title> شرایط فروشگاه </title> {% endblock  %}

{% block extra_css %}{% endblock  %}

{% block content %}

<section id="pages" class="shadow-elements my-4 py-2 d-flex align-items-center">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <ul class="d-flex font-sans">
                    <li class="navbar-page"><a href="">خانه</a></li>
                    <li class="navbar-page"><a href="">فروشگاه</a></li>
                    <li class="navbar-page"><a href="">سوالات متداول</a></li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section id="frequently-question">

    <div class="container-xxl rounded mb-3 questions bg-white">
        <div class="accordion-content font-vazir">
            <h2 class="my-5 li">قوانین و مقررات فروشگاه</h2>


            {% for term in terms %}
            <div class="accordion-item ">
                <header class="item-header p-3">
                    <h4 class="item-question">
                        {{term.title}}
                    </h4>
                    <div class="item-icon text-color">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                </header>
                <div class="item-content">
                    <p class="item-answer font-small-14">
                        {{term.description}}
                    </p>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="contact-bottom-box w-100 position-relative my-3 font-vazir">
            <img src="{% static 'images/contact-us.jpg' %}" class="contact-bg">
            <div class="top-title">
                <h3 class="d-flex justify-content-center font-small-12">روش های ارتباط با ما</h3>

            </div>
            <div class="row w-100 contact-bottom-call d-flex justify-content-evenly mt-3 mt-sm-0">
                <div class="col-auto text-center right-side-contact pt-3 pt-sm-0">
                    <img src="{% static 'images/call.png' %}">
                    <div class="bottom-phone-number mt-2 mt-sm-4 font-small-12">
                        <span>تماس تلفنی:</span><span>{{phone}}</span>
                    </div>
                </div>
                <div class="col-auto text-center left-side-contact mt-3 mt-sm-0">
                    <img src="{% static 'images/contact-2.png' %}">
                    <div class="mt-2 mt-sm-4">
                        <a href="{% url 'website:contact' %}" class="btn btn-primary font-small-12">ارتباط با ما</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock  %}

{% block extra_js %}

<script src="{% static 'js/frequently-question.js' %}"></script>

{% endblock  %}




