{% extends "base.html" %}

{% load static %}


{% block title %}<title>ثبت نام | ورود</title>{% endblock  %}

{% block extra_css %}{% endblock  %}

{% block content %}

<section id="login-signup-form">
    <div class="d-flex justify-content-center align-items-center login-form">
        <div class="container ">
            <div class="form-bg mx-auto text-center">
                <div class="row g-0 font-vazir">
                    <div class="col-lg-7 col-md-12 mb-4 p-3 p-md-5">
                        <h2 class="login-title font-vazir mb-4">ورود</h2>
                        <p class="desc-text">
                            در صورتیکه حساب کاربری دارید از این قسمت وارد شوید .
                        </p>
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <form method="post" action="{% url 'account:login' %}">
                            {% csrf_token %}
                            <div class="mt-4 mb-4">
                                <input name="username" type="email" class="form-control" dir="rtl" placeholder="پست الکترونیک شما"
                                       required>
                            </div>
                            <div class="mb-4">
                                <input name="password" type="password" class="form-control" placeholder="رمز عبور خود را وارد نمایید..."
                                       required>
                                <div class="text-start mt-1 mb-3">
                                    <a href="#" class="forgot ms-2 font-small-13">
                                        فراموشی رمز عبور
                                    </a>
                                </div>
                            </div>
                            <button type="submit" class="button login-btn mt-4 text-white">وارد شوید</button>
                        </form>
                        <!--
                        Google Authentication......................................
                        
                        <a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ifkv=AeZLP99o5PQK6glKdS2ByLApCy_r5YqeaPYH5hOimwBHq1Cy8zODTb-HAnC-3L_56TtqL_jAIIXQWg&rip=1&sacu=1&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S2063660543%3A1736198364271735&ddm=1"
                           class="google-login  btn mt-4 btn-light  d-flex justify-content-center  rounded-pill ">
                            <div><span>ورود با اکانت گوگل</span></div>
                            <img src="{% static 'images/google-logo2.png' %}">
                        </a>
                        -->

                        <div class="separator mt-5 font-vazir "> با ما در ارتباط باشید<i
                                class="fa-solid fa-square-share-nodes ms-2"> </i></div>
                        <div class="row mt-4">
                            <div class="col-4">
                                <a href="" class="alternative-login">
                                    <i class="fa-brands fa-google"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="" class="alternative-login">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="" class="alternative-login">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 ">
                        <div class="register-area p-4 d-flex flex-column gap-5">
                            <a class="logo" href="index.html"><img src="{% static 'images/logo.png' %}"></a>
                            <div class="register-info-box ">
                                <h2 class="register-title font-vazir">ثبت نام</h2>
                                <p class="font-small-14 mt-3">
                                    حساب کاربری ندارید؟ با کلیک بر روی دکمه ثبت نام می توانید حساب کاربری خود را ایجاد
                                    کنید.
                                </p>
                                <a href="signup.html" class="button register-btn mt-4">ثبت نام</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock  %}

{% block extra_js %}

<script src="js/login&signup.js"></script>



{% endblock  %}




